ASPPracticas/Connected Services/PersonaServicio/PersonaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57970/PersonaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57970/PersonaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57970/PersonaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonaService_ObetenerNombre_InputMessage">
    <wsdl:part name="parameters" element="tns:ObetenerNombre" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_ObetenerNombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObetenerNombreResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_ObtenerPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPersona" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_ObtenerPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_ObtenerPersonaPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPersonaPorId" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_ObtenerPersonaPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPersonaPorIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersonaService">
    <wsdl:operation name="ObetenerNombre">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonaService/ObetenerNombre" message="tns:IPersonaService_ObetenerNombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonaService/ObetenerNombreResponse" message="tns:IPersonaService_ObetenerNombre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonaService/ObtenerPersona" message="tns:IPersonaService_ObtenerPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonaService/ObtenerPersonaResponse" message="tns:IPersonaService_ObtenerPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPersonaPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonaService/ObtenerPersonaPorId" message="tns:IPersonaService_ObtenerPersonaPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonaService/ObtenerPersonaPorIdResponse" message="tns:IPersonaService_ObtenerPersonaPorId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPersonaService" type="tns:IPersonaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObetenerNombre">
      <soap:operation soapAction="http://tempuri.org/IPersonaService/ObetenerNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPersona">
      <soap:operation soapAction="http://tempuri.org/IPersonaService/ObtenerPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPersonaPorId">
      <soap:operation soapAction="http://tempuri.org/IPersonaService/ObtenerPersonaPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonaService">
    <wsdl:port name="BasicHttpBinding_IPersonaService" binding="tns:BasicHttpBinding_IPersonaService">
      <soap:address location="http://localhost:57970/PersonaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>